.signup-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form h2 {
    text-align: center;
  }
  
  .signup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form .form-group {
    margin-bottom: 15px;
  }
  
  .signup-form label {
    font-weight: bold;
  }
  
  .signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  /*estilo del boton*/
  .signup-form button {
    padding: 10px;
    background-color: #340e59;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #20203a;
  }
  